

<h3 class="monospace">New Transaction</h3>>

<form class="monospace" [formGroup]="TransactionForm" (ngSubmit)="sendTransaction()">
  <div class="column">
  <div class="form-group">
      <label for="author">AUTHOR</label>
    <input type="text" name="author" id="author" formControlName="author" class="form-control" placeholder="Author Name">
    <div class="alert alert-danger" *ngIf="TransactionForm.get('author').hasError('required') && TransactionForm.get('author').dirty">Zorunlu</div>
  </div>
  <div class="form-group">
    <label for="content">TRANSACTION</label>
  <input type="text" name="content" id="content" formControlName="content" class="form-control" placeholder="Transaction Content">
  <div class="alert alert-danger" *ngIf="TransactionForm.get('content').hasError('required') && TransactionForm.get('content').dirty">Zorunlu</div>
</div>
          <button type="submit" class="btn btn-success" > send </button>
        </div>
</form>

<br>

<div class="row"  *ngIf="showMsg">
  <div class="col-xs-12">
    <p class="alert alert-success">
        <strong>Transaction send succesfully</strong>
    </p>
  </div>
</div>