

<form [formGroup]="registerForm" (ngSubmit)="sendUser()" *ngIf="!showMsglogin">
  <h4  class="monospace"  *ngIf="!showMsglogin" >REGISTER FORM</h4>
          <div class="row">

              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" class="form-control" formControlName="name" placeholder="Your Name *">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" formControlName="surname" placeholder="surname *" >
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName="phone" placeholder="Phone Number *" >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="tc" placeholder="tc*">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="username" placeholder="username*">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="passwd" placeholder="password *" >
                </div>

          <button type="submit" class="btnSubmit">REGISTER</button>
      </div>
  </div>
</form>
<br>
<br>
<div  class="monospace">
<h4  *ngIf="!showMsglogin">If you have an account please log in </h4>
<button  type="button" class="btn btn-success btn-sm" (click)="btnClick();" *ngIf="!showMsglogin">LOGIN</button> 
</div>
<div class="row"  *ngIf="showMsg">
    <div class="col-xs-12">
      <p class="alert alert-warning monospace" role="alert">
          <strong>{{mesaj}}</strong>
      </p>
    </div>
  </div>

  <div class="row"  *ngIf="showMsglogin">
    <div class="col-xs-12">
      <p class="alert alert-warning monospace" role="alert">
          <strong>user active</strong>
      </p>
    </div>
  </div>